:root {
    --bg-body: rgb(245, 247, 255);
    --primary-color: rgb(42, 51, 65);
    --primary-hover-color: rgb(158, 161, 166);
    --scrollbar-color: rgba(131, 135, 193, 0.4);
    --card-bg-color: rgba(230, 231, 247, 0.1);
    --pop-bg-color: rgb(245, 247, 255, 0.9);
    --star-color: #ddcc14;
    --border-color: rgba(131, 135, 193, 0.4);
    --shadow-color: rgba(0, 0, 0, 0.05);
    --accent-color: rgb(194, 33, 105);
  }
  

.menu{
    background-color: #222;
    height: 100vh;
    padding: 10px;
}

.navbar-1{
    background: #222;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #fff;
}

.logout-btn{
padding:4px 8px;
background: #f98c39;
border: none;
color: #fff;
font-size: 12px;
border-radius: 4px;
}

.menu button{
    all: unset;
    background: rgba(106, 109, 155, 0.4);
    text-decoration: none;
    box-shadow: 0px 1px 4px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    width: 100%;
    padding: 12px 0;
    margin: 6px 8px;
    border-radius: 5px;
}

.dashboarditems{
    text-align: center;
    color: #f98c39;
}


.scroll-data{
    height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.card{
    min-height: 400px !important;
}

.card img{
height: 150px !important;
}

/* appointment */
form{
    padding: 0px !important;
}

.formbold-mb-5 {
    margin-bottom: 20px;
    width: 100%;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #f98c39;
    color: white;
    width: 100%;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }
  /* Add this CSS to your stylesheet */

  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .checkbox-label {
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #999999;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .checkbox-input {
    display: none;
  }
  
  .checkbox-input:checked + .checkbox-label {
    background-color: #f98c39;
    color: #ffffff;
  }
  
  .checkbox-custom {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #999999;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
  }
  
  .checkbox-input:checked + .checkbox-label .checkbox-custom {
    background-color: #ffffff;
    border-color: #ffffff;
  }
  
  .checkbox-custom::after {
    content: '';
    position: absolute;
    display: none;
  }
  
  .checkbox-input:checked + .checkbox-label .checkbox-custom::after {
    display: block;
  }
  
  .checkbox-custom::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .header {
    background-color: #f98c39; /* Background color */
    color: white; /* Text color */
    padding: 15px; /* Padding */
    text-align: center; /* Center the text */
    border-radius: 5px 5px 0 0; /* Rounded corners at the top */
    font-size: 24px; /* Font size */
    margin-bottom: 20px; /* Space below the header */
  }